{% extends  "base.html" %}
{% block content %}
    <div class="row">
        <div class="ui container segment">
            <div class="ui container">
                <form class="ui form" method="get" id="option_form">
                    <div class="ui form">


                        <div class="four fields">            
                            <div class="field">
                              <label>start_date</label>
                              <input type="text" name="start_date" id="start_date" value="{{selected_start_date}}" placeholder="start_date...">
                            </div>                      
                          
                            <div class="field">
                                <label>word</label>
                                <input type="text" name="word" id="word" value="{{selected_word}}" placeholder="word...">
                              </div>                             
                        </div>                    

                        <div class="one fields">
                            <div class="field">                            
                                <button class="ui button" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>       

    <style type="text/css">
        #tableArea .dataTables_wrapper {
            position: relative;
            clear: both;
            zoom: 1;
            overflow-x: auto;
        }

        #tableArea table{
            width: 800px;
        }
    </style>

    <div class="row">
        <div class="ui container segment">
            <div class="ui container">

                <!-- datatables start -->
                <div id="tableArea">
                    <table id="table_id" class="table table-bordered table-hover stripe" style="white-space: nowrap; ">
                        <thead>
                            <tr>
                                {% for item in fields_data %}
                                <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>                          
                            {% for line in table_data %}
                            <tr>
                                {% for item in line %}
                                <td>{{item}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                
                    <script type="text/javascript">
                        $(document).ready( function () {
                            $('#table_id').dataTable({
                                "paging": false, 
                                "ordering": false,
                                "bInfo" : false,
                            });
                        } );
                    </script>
                </div>
                <!-- datatables end -->                
            </div>
        </div>
    </div>    

{% endblock %}
